/* 
    General Styles
*/

ul {
  padding: 0;
}
li {
  list-style: none;
}
img {
  min-width: 100%;
  width: 100%;
  object-fit: cover;
}
 
.my-custom-carrousel{
  display: flex;
  overflow-y: scroll;
}
.my-card {
  width:18rem;
  margin-right: 15px;
}
.properties-container p {
  margin: none;
}
